@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

:root {
  --primary: '#1e90ff';
  --revenue: '#1CD89E';
  --expenses: '#F85B34';
  --net: '#08B0F8';
  --investment: '#19B484';
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  border: none;
  max-width: 100%;
}

html,
body {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  background-color: #ffffff;
}

/* RESET DATEPICKET */
.custom-datepicker {
  width: 100%;
  display: block;
}

.react-datepicker-wrapper {
  display: grid !important;
}
/* END RESET DATEPICKER */
